.cards-animate{
    animation-name: scaling;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes scaling {
    0%{transform: scale(1);}
    100%{transform: scale(1.02);}
}

.catchy-text-header{
    animation-name: animate-text;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transition: transform ease-in-out 0.8s;
}

@keyframes animate-text {
    0%{transform: translateX(10%);}
    100%{transform: translateX(-10%);}
}