.cards-animate{
    animation-name: scaling;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes scaling {
    0%{transform: scale(1);}
    100%{transform: scale(1.02);}
}

.catchy-text-header{
    text-align: center;
    position: absolute;
    left:50%;
    transform: translate(-50%);
}

    /* @keyframes animate-text {
        0%{transform: translateX(10%);}
        100%{transform: translateX(-10%);}
    } */

.shadow-text-blog{
    animation-name: glowtext;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    
}

@keyframes glowtext {
    0%{text-shadow: 2px 0px 32px cyan;}
    100%{text-shadow: 2px 0px 62px cyan;}
}

.shadow-text-blog1{
    animation-name: glowtext1;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    
}

@keyframes glowtext1 {
    0%{text-shadow: 2px 0px 32px rgb(244, 216, 5);}
    100%{text-shadow: 2px 0px 62px rgb(244, 216, 5);}
}